* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Layout Dokter */
body {
    background: #E4EDFF;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

.layout {
    margin-left: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

.content {
    margin: 30px;
    margin-right: 30px;
    margin-left: 50px;
}

/* Sidebar Dokter */
#sidebar-doctor {
    margin: 30px;
}

.sidebar-menu {
    background: #5A81FA;
    width: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 0px;
    list-style: none;
}

.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px 0px;
}

.btn-logout {
    background-color: #ffffff00;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #cedeff50;
    border: none;
}

.sidebar-link.active {
    background-color: #CEDEFF50;
    border-radius: 5px;
    padding: 10px;
}

/* Dashboard Dokter */
.dashboard-doctor {
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 20px; */

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
}

/* Dashboard Welcome */
.welcome-section {
    /* grid-column: span 5 / span 5;
    grid-row: span 4 / span 4; */

    grid-column: span 8 / span 8;
    grid-row: span 4 / span 4;

    background-color: #5A81FA;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.welcome-date {
    background-color: #CEDEFF80;
    padding: 10px;
    width: 210px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.welcome-today {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.welcome-greeting {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.greeting-text {
    padding-bottom: 30px;
}

.greeting-title {
    padding-bottom: 20px;
}

.greeting-title-subtitle {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bolder;
    line-height: 2;
}

.greeting-subtitle {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: lighter;
}

/* Dashboard Profile */
.dashboard-profile {
    /* grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 6; */

    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-header {
    background: #5A81FA;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}

.profile-title {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.profile-body {
    width: 97%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    padding: 35px 30px 10px 30px;
    margin-top: -15px;
    position: relative;
    z-index: 1;
}

.profile-name {
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    line-height: 2;
}

.profile-profession {
    font-size: 12px;
    font-weight: normal;
    color: #464646;
    line-height: 2;
}

.profile-location {
    display: flex;
    gap: 5px;
    line-height: 2;
}

.location-text {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

.profile-details {
    display: flex;
    justify-content: space-between;
    margin: 23px 0px 10px 0px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-label {
    font-size: 13px;
    font-weight: normal;
    color: #464646;
}

.detail-value {
    font-size: 12px;
    font-weight: bold;
    color: #464646;
}

.download-sip {
    background: #5A81FA;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px 10px;
    transition: background-color 1s ease;
}

.download-sip:hover {
    background: #87A3FB;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

/* Dashboard Jadwal */
.dashboard-schedule {
    /* grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 5; */

    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-row-start: 5;

    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.schedule-title {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

.dropdown-schedule {
    background-color: #CEDEFF;
    font-size: 12px;
    font-weight: lighter;
    color: #5A81FA;
    border-radius: 10px;
}

.schedule-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.time-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-label {
    font-size: 10px;
    font-weight: lighter;
    color: #464646;
}

.time-value {
    font-size: 24px;
    font-weight: bolder;
    color: #5A81FA;
}

.time-separator {
    font-size: 24px;
    font-weight: bolder;
    color: #5A81FA;
}

.btn-schedule {
    padding: 5px 30px;
    border-radius: 15px;
}

/* Dashboard Antrian */
.dashboard-queue {
    /* grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 8; */

    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 8;

    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.queue-title {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

.queue-number {
    font-size: 96px;
    font-weight: bold;
    color: #5A81FA;
}

/* Dashboard Laporan */
.dashboard-report {
    /* grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 5; */

    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 6;
    grid-row-start: 5;

    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    gap: 30px;
}

.report-title {
    font-size: 14px;
    font-weight: bolder;
    color: #464646;
}

.report-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.report-number-1 {
    font-size: 50px;
    font-weight: bolder;
    color: #FF07BD;
}

.report-number-2 {
    font-size: 50px;
    font-weight: bolder;
    color: #9C6CFE;
}

.report-number-3 {
    font-size: 50px;
    font-weight: bolder;
    color: #5A81FA;
}

.report-label {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

/* Dashboard Kalender */
.dashboard-calendar {
    /* grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 6;
    grid-row-start: 5; */

    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 9;
    grid-row-start: 5;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.calendar-header {
    background: #5A81FA;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}

.calendar-title {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.calendar-body {
    width: 97%;
    height: 100%;
    background: #87A3FB;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    padding: 35px 30px 10px 30px;
    margin-top: -15px;
    position: relative;
    z-index: 1;
}

.dropdown-calendar {
    background-color: #CEDEFF50;
    font-size: 10px;
    font-weight: lighter;
    color: #FFFFFF;
    border-radius: 5px;
}

.calendar-month {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
}

.weekday {
    font-size: 10px;
    font-weight: normal;
    color: #FFFFFF;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    text-align: center;

    font-weight: normal;
    color: #1F4DD9;
}

.date-cell {
    font-size: 16px;
    padding: 9px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 30px;
}

.date-cell:nth-child(n+36) {
    display: none;
}

.date-cell:hover:not(.prev-month):not(.next-month):not(.current) {
    background: rgba(90, 129, 250, 0.2);
    border-radius: 10px;
}

.date-cell.current {
    background: #5A81FA;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 10px;
}

.date-cell.prev-month,
.date-cell.next-month {
    font-size: 16px;
    font-weight: normal;
    color: #1F4DD970;
}

/* Modal Atur Jadwal */
.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 16px;
    transition: opacity 0.3s ease-in-out;
}

.modal-container {
    background-color: #ffffff; 
    border-radius: 16px; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 60%; 
    padding: 24px; 
}

.modal-close-btn {
    color: #9ca3af;
    transition: color 0.15s ease-in-out;
    border: none;
    cursor: pointer;
    background-color: #CEDEFF;
    border-radius: 100%;
    padding: 5px;
    margin-left: auto;
}

.modal-close-btn:hover {
    color: #4b5563;
}

.icon-close {
    width: 20px;
    height: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker {
    background-color: #CEDEFF;
    border-radius: 10px;
    height: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.date-input {
    font-size: 16px;
    border: none;
    color: #5A81FA;
    font-weight: normal;
    background-color: #CEDEFF;
    width: auto;
}

.date-input:hover {
    border: none;
    font-weight: bold;
    background-color: #CEDEFF;
    color: #5A81FA;
    font-weight: normal;
}

.date-input:focus {
    outline: none;
    box-shadow: none;
    color: #5A81FA;
    font-weight: normal;
}

.form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    margin-bottom: 0.5rem;
}

.toggle-group {
    position: relative;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 100px;
    overflow: hidden;
    background: #FFFFFF;
    margin: 5px;
}

.toggle-group input[type="radio"] {
    display: none;
}

.toggle-group label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    cursor: pointer;
    font-weight: 500;
    color: #5A81FA;
    z-index: 2;
    transition: all 0.2s ease;
}

.toggle-group .toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #5A81FA;
    border-radius: 100px;
    transition: all 0.3s ease;
    z-index: 1;
}

.toggle-group input#libur:checked ~ .toggle-slider {
    left: 50%;
}

.toggle-group input#buka:checked + label[for="buka"],
.toggle-group input#libur:checked + label[for="libur"] {
    color: white;
}

.form-group {
    background-color: #5A81FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 60%;
    margin: 5px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.jam-title {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.time-inputs-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form-label {
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
}

.form-input-jam {
    background-color: #CEDEFF;
    padding: 25px 15px;
    border-radius: 10px;
}

.time-item-schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-submit-schedule {
    background-color: #1647E0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 100px;
    margin-top: 40px;
    transition: background-color 0.5s ease;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.btn-submit-schedule:hover {
    background-color: #6D8BE9;
}

.form-textarea {
    background-color: #CEDEFF;
    width: 100%;
    border-radius: 30px;
}

/* --- UTILITY CSS --- */
.hidden {
    display: none !important;
}