* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Layout Dokter */
body {
    background: #E4EDFF;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

.layout {
    margin-left: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

.content {
    margin: 30px;
    margin-right: 0;
    margin-left: 50px;
}

/* Sidebar Dokter */
#sidebar-doctor {
    margin: 30px;
}

.sidebar-menu {
    background: #5A81FA;
    width: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 0px;
    list-style: none;
}

.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px 0px;
}

.btn-logout {
    background-color: #ffffff00;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #cedeff50;
    border: none;
}

/* Dashboard Dokter */
.dashboard-doctor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
}

/* Dashboard Welcome */
.welcome-section {
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    background-color: #5A81FA;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.welcome-date {
    background-color: #CEDEFF80;
    padding: 10px;
    width: 210px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.welcome-today {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.welcome-greeting {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.greeting-text {
    padding-bottom: 30px;
}

.greeting-title {
    font-size: 20px;
    color: #FFFFFF;
}

.greeting-subtitle {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: lighter;
}

/* Dashboard Profile */
.dashboard-profile {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 6;
    grid-row-start: 1;
}

.profile-header {
    background: #5A81FA;
    width: 350px;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}

.profile-title {
    font-size: 20px;
    color: #FFFFFF;
}

.profile-body {
    width: 340px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    padding: 35px 30px 10px 30px;
    margin-left: 5px;
    margin-top: -15px;
    position: relative;
    z-index: 1;
}

.profile-name {
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    line-height: 2;
}

.profile-profession {
    font-size: 12px;
    font-weight: normal;
    color: #464646;
    line-height: 2;
}

.profile-location {
    display: flex;
    gap: 5px;
    line-height: 2;
}

.location-text {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

.profile-details {
    display: flex;
    justify-content: space-between;
    margin: 23px 0px 10px 0px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-label {
    font-size: 13px;
    font-weight: normal;
    color: #464646;
}

.detail-value {
    font-size: 12px;
    font-weight: bold;
    color: #464646;
}

.download-sip {
    background: #5A81FA;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px 10px;
    transition: background-color 1s ease;
}

.download-sip:hover {
    background: #87A3FB;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

/* Dashboard Jadwal */
.dashboard-schedule {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 5;
}

/* Dashboard Antrian */
.dashboard-queue {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 8;
}

/* Dashboard Laporan */
.dashboard-report {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 5;
}

/* Dashboard Kalender */
.dashboard-calendar {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 6;
    grid-row-start: 5;
}