* {
    font-family: 'Poppins', sans-serif;
}

/* Layout Dokter */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    margin-left: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

.content {
    margin: 30px;
    margin-right: 0;
    margin-left: 40px;
}

/* Sidebar Dokter */
#sidebar-doctor {
    margin: 30px; 
}

.sidebar-menu {
    background: #5A81FA;
    width: 60px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 0px;
    list-style: none;
}

.menu-doctor {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-logout {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn-logout {
    background-color: #ffffff00;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #cedeff50;
    border: none;
}

/* Dashboard Dokter */
.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    max-width: 100vh;
    width: 100%;
}

/* Dashboard Welcome */
.welcome-section {
    grid-column: span 8 / span 8;
    grid-row: span 3 / span 3;
    background-color: #5A81FA;
    width: 100%;
    height: 250px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.welcome-date {
    background-color: #CEDEFF80;
    padding: 10px;
    width: 210px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.welcome-today {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.welcome-greeting {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.greeting-text {
    padding-bottom: 30px;
}

.greeting-title {
    font-size: 20px;
    color: #FFFFFF;
}

.greeting-subtitle {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: lighter;
}

/* Dashboard Profile */
.dashboard-profile {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    /* background: #FFFFFF; */
}

.profile-header {
    background: #5A81FA;
    width: 350px;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
}

.profile-title {
    font-size: 20px;
    color: #FFFFFF;
}

.profile-body {
    width: 340px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    padding: 10px 30px;
    margin-left: 5px;
}

.profile-name {
    font-size: 14px;
    font-weight: bolder;
    color: #464646;
}

.profile-profession {
    font-size: 12px;
    font-weight: normal;
    color: #464646;
}

.profile-location {
    display: flex;
    gap: 5px;
}

.location-text {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

.profile-details {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-label {
    font-size: 13px;
    font-weight: normal;
    color: #464646;
}

.detail-value {
    font-size: 12px;
    font-weight: bold;
    color: #464646;
}

.download-sip {
    background: #5A81FA;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px 15px;
}

/* .dashboard-schedule {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
} */

/* .dashboard-queue {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 7;
} */

/* .dashboard-report {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 5;
    grid-row-start: 4;
} */

/* .dashboard-calendar {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 9;
    grid-row-start: 4;
} */