* {
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    z-index: 1000;   
    width: 100%;     
    top: 20px;
    position: fixed;
}
        
.navbar-container {
    display: flex;
    background-color: #87A3FB;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 24px;
    width: 90%;
}
        
.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-link {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.btn-login {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #5A81FA;
    border: none;
    border-radius: 200px;
    margin: 0px;
    padding: 10px 30px;
    box-shadow: 0px 1px 10px inset #a8a7a7;
    transition: background-color 1s ease;
    transition: color 1s ease;
}

.btn-login:hover {
    background-color: #5A81FA;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    border: none;
    border-radius: 200px;
    padding: 10px 30px;
    box-shadow: 0px 1px 10px inset #3c3c3c;
}

/* Homepage */
.home-background {
    background-color: #CEDEFF;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.home-background-vector {
    position: relative;
    width: 100%;
    height: 500px;
    top: 50px;
    background: #5A81FA;
    clip-path: ellipse(70% 100% at 50% 0%);
    z-index: 0;
    display: flex;
}

.home-content {
    display: flex;
    padding-left: 255px;
    padding-right: 255px;
    padding-top: 60px;
}

.home-title-1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.home-title-2 {
    font-size: 60px;
    color: #1F4DD9;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.home-description {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.home-button {
    padding-top: 25px;
}

.btn-home {
    background-color: #87A3FB;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 25px;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(54, 54, 54, 0.6);
}

.btn-home:hover {
    background-color: #5A81FA;
    box-shadow: 0 2px 5px rgba(54, 54, 54, 0.6);
    transition: background-color 0.5s ease;
}

.home-service {
    position: relative;
    top: -90px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #5A81FA;
    width: 70%;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    z-index: 10;
    margin: 0 auto;
    gap: 40px;
}

.home-service-item {
    margin: 30px 80px;
}

.home-service-button {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 100%;
    border: none;
}

.home-service-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.home-service-description {
    font-size: 14px;
    font-weight: lighter;
    color: #ffffff;
}

/* Homepage Layanan */
#service {
    background-image: linear-gradient(to bottom, #CEDEFF 0%, #FFFFFF 20%);
    padding-top: 80px;
}
    
.service-header {
    height: 185px;
    padding-left: 100px;
}

.service-subtitle {
    width: 55%;
}

.service-heading {
    font-size: 28px;
    color: #5A81FA;
}

.service-description {
    width: 80%;
    font-size: 17px;
    color: #464646;
}
    
.service-list {
    width: 90%;
    height: 320px;
    padding-left: 100px;
}
    
.service-item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.service-button {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 100%;
    border: none;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.service-button i {
    color: #5A81FA; 
    font-size: 30px;
}

.service-text {
    font-size: 17px;
    color: #464646;
}

/* Homepage Ajakan */
#ajakan {
    padding-top: 120px;
    padding-right: 80px;
    padding-left: 80px;
}

.hero-section {
    position: relative;
    background-color: #5A81FA;
    width: 100%; 
    height: 480px;
    border-radius: 10px;
}

.emotmask {
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.emotdoc {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.hero-content {
    padding-top: 85px;
}

.hero-title {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
}

.hero-subtitle {
    font-size: 17px;
    height: 2px;
    color: #ffffff;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    height: auto;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.btn-ajakan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    transition: background-color 1s ease;
    transition: color 1s ease;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: #5A81FA;
    border: none;
    border-radius: 200px;
    padding: 20px 40px;
    box-shadow: 0 5px 10px rgba(90, 129, 250, 0.3);
    cursor: pointer;
}

.btn-ajakan i {
    background: #5A81FA;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: -10px;
}

.btn-ajakan:hover {
    background-color: #5A81FA;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

/* Homepage Schedule */
#schedule {
    margin-top: 80px;
    margin-right: 70px;
    margin-left: 70px;
}

.schedule-header {
    padding-top: 90px;
}

.schedule-title {
    font-size: 35px;
    color: #1F4DD9;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.schedule-subtitle {
    font-size: 35px;
    color: #5A81FA;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.schedule-box {
    background-color: #5A81FA;
    width: 60%;
    border-radius: 15px;
    margin: auto;
    box-shadow:0 4px 16px 0 rgba(0,0,0,0.6)
}

.schedule-info {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.info-title {
    font-size: 32px;
    color: #ffffff;
    margin: 5px;
    font-weight: bold;
}

.schedule-divider {
    background-color: #D9D9D9;
    height: 15px;
    padding: 0;
}

.schedule-time {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.time-separator {
    font-size: 39px;
    color: #ffffff;
    font-weight: bold;
}

.time-label {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;        
    text-align: center;    
}

.time-value {
    font-size: 60px;
    color: #ffffff;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.date-picker {
    background-color: #799AFF;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.date-input {
    font-size: 18px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #799AFF;
    width: 200px;
    justify-items: center;
}

.date-input:hover {
    border: none;
    font-weight: bold;
    background-color: #799AFF;
    width: 200px;
}

.date-input:focus {
    outline: none;
    box-shadow: none;
}

/* Homepage Lokasi */
#location {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px
}

.location-header {
    display: flex;
    padding-top: 100px;
}

.location-title {
    padding-left: 10px;
}

.location-heading {
    font-size: 28px;
    color: #1F4DD9;
    margin: 0;
}

.location-subheading {
    font-size: 28px;
    color: #5A81FA;
    margin: 0;
}

.location-content {
    display: flex;
}

.location-description {
    font-size: 18px;
    color: #464646;
    padding-left: 90px;
    padding-right: 240px;
}

.map-frame {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.6)
}

.map-caption{
    font-size: 14px;
    color: #5A81FA;
    text-align: center;
}

/* Homepage Aboutus */
#aboutus {
    background-color: #CEDEFF;
    display: flex;
    height: 250px;
    margin: 0;
    padding: 5px 100px;
}
    
.container-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.clinic-header {
    margin-top: 20px;
}

.right-group {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.clinic-tagline {
    font-size: 16px;
    line-height: 30px;
    color: #464646;
    width: 40%;
}

.about-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    font-size: 20px;
    color: #405FBD;
    font-weight: bold;
    text-align: center;
}

.about-links a {
    font-size: 16px;
    color: #464646;
    text-decoration: none;  
}

.about-links a:hover {
    text-decoration: underline;  
}

.contact-section {
    font-size: 24px;
    color: #405FBD;
    font-weight: bold;
}

.contact-icons {
    display: flex;
    flex-direction: row;
}

.btn-aboutus {
    color: #464646;
    text-decoration: none; 
    padding: 10px; 
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px; 
}

.btn-aboutus:hover {
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    border-radius: 100%;
}