/* Navbar */
#navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    z-index: 1000;   
    width: 100%;     
    top: 20px;
    position: fixed;
}
        
.navbar-container {
    display: flex;
    background-color: #87A3FB;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 24px;
    width: 90%;
}
        
.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-link {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.btn-login {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #5A81FA;
    border: none;
    border-radius: 200px;
    margin: 0px;
    padding: 10px 30px;
    box-shadow: 0px 1px 10px inset #a8a7a7;
    transition: background-color 1s ease;
    transition: color 1s ease;
}

.btn-login:hover {
    background-color: #5A81FA;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    border: none;
    border-radius: 200px;
    padding: 10px 30px;
    box-shadow: 0px 1px 10px inset #3c3c3c;
}

/* Homepage */
#home {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 820px;
}

.container {
    position: relative;
    width: 100vw;
    min-width: 1280px;
    height: 832px;
    background: #FFFFFF;
    overflow: hidden;
}

.bg-k3 {
    position: absolute;
    width: 100%;
    height: 437px;
    left: 0px;
    top: 395px;
    background: #CEDEFF;
}

.bg-v1 {
    position: absolute;
    width: 100%;
    height: 755px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.bg-v1 svg {
    width: 100%;
    height: 100%;
    min-width: 1280px;
}

.bg-k2 {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #CEDEFF;
}

.bg-k1 {
    position: absolute;
    width: calc(100% - 336px);
    max-width: 1000px;
    height: 248px;
    left: 50%;
    transform: translateX(-50%);
    top: 560px;
    background: #5A81FA;
    box-shadow: 0px 4px 27.7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.doctor-image {
    position: absolute;
    width: 464px;
    height: 436px;
    left: 150px;
    top: 133px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.doctor-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-heading {
    position: absolute;
    width: 614px;
    left: 577px;
    top: 183px;
    font-weight: 700;
    font-size: 70px;
    line-height: 71px;
    color: #FFFFFF;
}

.main-heading .better-doctor {
    color: #1F4DD9;
}

.description {
    position: absolute;
    width: 499px;
    left: 582px;
    top: 330px;
    font-weight:100;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: absolute;
    background: #87A3FB;
    box-shadow: 0px 4px 27.7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.btn:hover {
    background: #6B8EF5;
    transform: translateY(-2px);
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.3);
}

.btn-register {
    width: 193px;
    height: 53px;
    left: 582px;
    top: 481px;
}

.btn-schedule {
    width: 249px;
    height: 53px;
    left: 794px;
    top: 481px;
}

.feature-card {
    position: absolute;
}

.feature-icon {
    position: absolute;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.feature-icon svg {
    width: 34px;
    height: 34px;
}

.feature-title {
    font-weight:550;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.feature-description {
    font-weight: 250;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.feature-1 {
    left: 286px;
    top: 584px;
    width: 279px;
}

.feature-1 .feature-icon {
    left: 0px;
    top: 0px;
}

.feature-1 .feature-title {
    position: absolute;
    left: 0px;
    top: 65px;
}

.feature-1 .feature-description {
    position: absolute;
    left: 0px;
    top: 109px;
    width: 252px;
}

.feature-2 {
    left: 732px;
    top: 584px;
    width: 252px;
}

.feature-2 .feature-icon {
    left: 0px;
    top: 3px;
}

.feature-2 .feature-title {
    position: absolute;
    left: 0px;
    top: 68px;
}

.feature-2 .feature-description {
    position: absolute;
    left: 0px;
    top: 112px;
    width: 252px;
}

/* Homepage Layanan */
#service {
    background-image: linear-gradient(to bottom, #CEDEFF 0%, #FFFFFF 20%);
    padding-top: 50px;
}
    
.service-header {
    height: 185px;
    padding-left: 100px;
}

.service-subtitle {
    width: 55%;
}

.service-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #5A81FA;
}

.service-description {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #464646;
}
    
.service-list {
    width: 90%;
    height: 320px;
    padding-left: 100px;
}
    
.service-item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.service-button {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 100%;
    border: none;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.service-button i {
    color: #5A81FA; 
    font-size: 30px;
}

.service-text {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #464646;
}
    
.service-footer {
    padding-left: 100px;
    height: 80px;
}

.btn-service {
    background-color: #87A3FB;
    transition: background-color 0.5s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    padding: 30px 50px;
    border-radius: 30px;
    border: none;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.btn-service:hover {
    background-color: #5A81FA;
}

/* Homepage Ajakan */
#ajakan {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
}

.hero-section {
    position: relative;
    background-color: #5A81FA;
    width: 100%; 
    height: 480px;
    border-radius: 10px;
}

.emotmask {
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.emotdoc {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.hero-content {
    padding-top: 85px;
}

.hero-title {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
}

.hero-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    height: 2px;
    color: #ffffff;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    height: auto;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.btn-ajakan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    transition: background-color 1s ease;
    transition: color 1s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: #5A81FA;
    border: none;
    border-radius: 200px;
    padding: 20px 40px;
    box-shadow: 0 5px 10px rgba(90, 129, 250, 0.3);
    cursor: pointer;
}

.btn-ajakan i {
    background: #5A81FA;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: -10px;
}

.btn-ajakan:hover {
    background-color: #5A81FA;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

/* Homepage Lokasi */
#location {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px
}
        
.location-header {
    display: flex;
}

.location-title {
    padding-left: 10px;
}

.location-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #1F4DD9;
    margin: 0;
}

.location-subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #5A81FA;
    margin: 0;
}

.location-content {
    display: flex;
}

.location-description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #464646;
    padding-left: 90px;
    padding-right: 240px;
}

.map-frame {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.6)
}

.map-caption{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5A81FA;
    text-align: center;
}

/* Homepage Schedule */
#schedule {
    margin-top: 45px;
    margin-right: 70px;
    margin-left: 70px;
}

.schedule-title {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #1F4DD9;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.schedule-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #5A81FA;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.schedule-box {
    background-color: #5A81FA;
    width: 60%;
    border-radius: 15px;
    margin: auto;
    box-shadow:0 4px 16px 0 rgba(0,0,0,0.6)
}

.schedule-info {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.info-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin: 5px;
    font-weight: bold;
}

.schedule-divider {
    background-color: #D9D9D9;
    height: 15px;
    padding: 0;
}

.schedule-time {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.time-separator {
    font-family: 'Poppins', sans-serif;
    font-size: 39px;
    color: #ffffff;
    font-weight: bold;
}

.time-label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;        
    text-align: center;    
}

.time-value {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #ffffff;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.date-picker {
    background-color: #799AFF;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.date-input {
    font-size: 18px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: bold;
    background-color: #799AFF;
    width: 200px;
    justify-items: center;
}

.date-input:hover {
    border: none;
    font-weight: bold;
    background-color: #799AFF;
    width: 200px;
}

.date-input:focus {
    outline: none;
    box-shadow: none;
}

/* Homepage Aboutus */
#aboutus {
    background-color: #CEDEFF;
    display: flex;
    height: 250px;
    margin: 0;
    padding: 5px 100px;
}
    
.container-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.clinic-header {
    margin-top: 20px;
}

.right-group {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.clinic-tagline {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #464646;
    width: 40%;
}

.about-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #405FBD;
    font-weight: bold;
    text-align: center;
}

.about-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #464646;
    text-decoration: none;  
}

.about-links a:hover {
    text-decoration: underline;  
}

.contact-section {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #405FBD;
    font-weight: bold;
}

.contact-icons {
    display: flex;
    flex-direction: row;
}

.btn-aboutus {
    color: #464646;
    text-decoration: none; 
    padding: 10px; 
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px; 
}

.btn-aboutus:hover {
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    border-radius: 100%;
}