.hidden {
    display: none !important;
}

.monthpicker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.monthpicker {
    width: auto;
    height: auto;
    display: none;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    position: absolute; 
    top: 100%;
    right: 0;
    margin-top: 4px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

.monthpicker.active {
    display: block;
}

.monthpicker-box {
    border-radius: 10px;
    background-color: #CEDEFF50;
    padding: 3px 5px;
}

.monthpicker-input {
    border: none;
    background-color: #CEDEFF10;
    color: #FFFFFF;
    font-size: 10px;
    padding-bottom: 5px;
}

.monthpicker-input:hover {
    cursor: pointer;
}

.monthpicker-input:focus {
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.monthpicker-icon:hover {
    cursor: pointer;
}

.monthpicker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthpicker-monthYear {
    cursor: pointer;
    color: #1F4DD9;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.monthpicker-header i {
    color: #1F4DD9;
    font-size: 35px;
    cursor: pointer;
}

.monthpicker-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25%;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.monthpicker-months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    text-align: center;
    color: #1F4DD9;
    font-size: 14px;
    font-weight: normal;
}

.monthpicker-months div {
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.monthpicker-months div:hover {
    background-color: #6E90FA;
    border-radius: 10px;
    color: #FFFFFF;
}

.monthpicker-month-active {
    background-color: #6E90FA;
    border-radius: 10px;
    color: #FFFFFF;
}

.monthpicker-year {
    height: 250px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Atur 4 kolom untuk bulan */
    gap: 8px;
    padding: 10px;
    text-align: center;
    color: #1F4DD9;
    font-size: 14px;
    font-weight: normal;
}

.monthpicker-year div {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.monthpicker-year div:hover {
    background-color: #6E90FA;
    border-radius: 10px;
    color: #FFFFFF;
}

.monthpicker-year-active {
    background-color: #6E90FA;
    border-radius: 10px;
    color: #FFFFFF;
}

.monthpicker-no-pointer {
    pointer-events: none;
    cursor: default !important;
}

.monthpicker-hidden-icon {
    visibility: hidden;
}