* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #5A81FA;
}

.editprofile-container {
    background: #FFFFFF;
    border-radius: 30px;
    margin: 30px;
    padding: 25px 50px;
    width: 95%;
    height: 89%;
}

.editprofile-header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
}

.editprofile-header a {
    margin-right: auto;
    background-color: #CEDEFF;
    color: #464646;
    padding: 10px 13px;
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.editprofile-header a:hover {
    background-color: #5A81FA;
    color: #464646;
    padding: 10px 13px;
    border-radius: 100px;
    font-weight: bold;
}

.editprofile-title {
    font-size: 25px;
    font-weight: bold;
    color: #5A81FA;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.editprofile-top {
    display: flex;
    align-items: center;
    gap: 23%;
    width: 100%;
}

.editprofile-left {
    width: 50%;
}

.editprofile-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.editprofile-label {
    color: #464646;
    font-size: 16px;
    font-weight: 600;
}

.editprofile-input {
    color: #7D7D7D;
    font-size: 14px;
    font-weight: normal;
    background-color: #D9D9D950;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.editprofile-photo-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.editprofile-photo-preview {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile-img, .fallback {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.icon-kamera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;

    opacity: 0;
    transition: .25s ease;
}

.editprofile-photo-wrapper:hover .icon-kamera {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.editprofile-photo-input {
    display: none;
}

.editprofile-photo-text {
    font-size: 15px;
    color: #464646;
    font-weight: normal;
    margin-top: 10px;
}

.editprofile-drop-area {
    width: 100%;
    height: 130px;
    background-color: #D9D9D950;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px dashed #7D7D7D; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ri-upload-2-line {
    font-size: 35px;
    color: #7D7D7D;
    font-weight: normal;
    cursor: pointer;
}

.editprofile-drop-text {
    font-size: 16px;
    color: #7D7D7D;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.editprofile-drop-description {
    font-size: 12px;
    color: #7D7D7D;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
}

.editprofile-submit {
    display: flex;
}

.editprofile-button {
    background: #1647E0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: background-color 0.5s ease;
    margin-left: auto;
}

.editprofile-button:hover {
    background: #6D8BE9;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.delete-btn {
    border: none;
    background-color: #FFFFFF;
    color: #e01616;
    font-weight: bold;
    margin-top: 10px;
}

.delete-btn:hover {
    text-decoration: underline;
}

.editprofile-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}