.report-title-section {
    display: flex;
    margin-bottom: 15px;
     animation: fadeInUp 0.6s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.report-title-wrapper {
    display: flex;
    flex-direction: column;
}

.judul {
    color: #5A81FA;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px;
}

.subjudul {
    font-size: 13px;
    color: #5A81FA;
    font-weight: lighter;
    margin: 0px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.date-selector {
    background: #809FF5;
    color:white;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border:none;
    animation: slideInLeft 0.8s ease-out;
}

.date-selector i {
    color: #000000;
    font-size: 16px;
}

.date-selector input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #2d3748;
    font-weight: 500;
    cursor: pointer;
}
.header-right {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search input {
    width: 300px !important;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search input:focus {
    outline: none;
    border: 2px solid #5a81fa;
    box-shadow: 0 0 5px rgba(90, 129, 250, 0.4);
}

.btn-filter {
    background-color: #5A81FA; 
    color: white;        
    border: none;             
    outline: none;             
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.btn-filter:hover {
    background-color: #3c58ac ;
}


.stats-container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    justify-content: center;
    text-align: center;
}

.stat-header {
    font-size: 16px;
    color: #464646;
    margin-bottom: 12px;
    font-weight: 500;
}

.stat-value {
    font-size: 40px;
    font-weight: 700;
    color: #2d3748;
}

.time-value {
    font-size: 28px;
    color: #5a81fa;
    word-spacing: 15px;
}

.highlight-pink {
    color: #ff00d4;
}

.highlight-ungu {
    color: #9c6cfe;
}

.highlight-biru {
    color: #5a81fa;
}

.patient-list-container {
    background: white;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.patient-card {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-radius: 20px;
    margin-bottom: 12px;
    background: #cedeff;
    transition: all 0.3s ease;
}

.patient-number {
    width: 60px;
    height: 60px;
    color: #5a81fa;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
}

.patient-info {
    flex: 1;
}

.patient-name {
    font-size: 20px;
    font-weight: 600;
    color: #5a81fa;
    margin-left: 20px;
}

.patient-contact {
    margin-right: 100px;
}

.whatsapp-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
}

.patient-status {
    margin-right: 30px;
    width: 100px;
}

.status-badge {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}

.status-waiting {
    background: #fef3c7;
    color: #92400e;
}

.status-progress {
    background: #dbeafe;
    color: #1e40af;
    margin-right: 50px;
}

.status-complete {
    background: #d1fae5;
    color: #065f46;
    padding: 10px 30px;
}

.status-cancel {
    background: #fee2e2;
    color: #991b1b;
}

.patient-action {
    min-width: 140px;
    margin-right: 200px;
}

.btn-detail {
    padding: 10px 20px;
    color: rgb(45, 33, 117);
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-detail2 {
    display: none;
}

.btn-detail:hover:not(:disabled) {
    transform: translateY(-2px);
}

.btn-detail:disabled {
    cursor: not-allowed;
}

.btn-cancel {
    padding: 10px 20px;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: not-allowed;
    display: none;
}

.empty-state {
    text-align: center;
    padding: 60px 20px;
    color: #a0aec0;
}

.empty-state i {
    font-size: 64px;
    margin-bottom: 16px;
}

/* Modal Biodata */
.pasien-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999;
  display: none; 
  align-items: center; 
  justify-content: center; 
  padding: 16px;
  transition: opacity 0.3s ease-in-out;
}

.pasien-overlay:not([hidden]) {
  display: flex;
}

.pasien-box {
  background: #FFFFFF;
  width: 60%;
  border-radius: 20px;
}

.pasien-close-btn {
  background-color: #CEDEFF;
  border-radius: 100px;
  padding: 5px 10px;
  margin: 15px;
  margin-left: auto;
  margin-bottom: 0%;
  display: block;
  border: none;
  cursor: pointer;
}

.pasien-close-btn:hover {
  background-color: #B5C6FB;
}

.pasien-title {
  color: #5A81FA;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.pasien-biodata {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.avatar-biodata {
  background: #5A81FA;
  border-radius: 30px;
  width: 215px;
  height: 215px;
}

.col-data {
  width: 55%;
}

.pasien-identitas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #B5C6FB;
  border-radius: 30px 30px 0px 0px;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.pasien-identitas-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5A81FA;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

.divider-identitas {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}


.pasien-identitas-nama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.pasien-detail {
  border: 1px solid #dbeafe;
  border-radius: 0px 0px 30px 40px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.pasien-detail-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 12px;
}

.pasien-detail-label strong {
  flex: 1;
  font-weight: 600;
  color: #464646;
  text-align: left;
}

.pasien-detail-label span {
  flex: 2;
  font-weight: normal;
  color: #464646;
  text-align: left;
}

.pasien-catatan {
  background: #B5C6FB;
  margin: 20px 50px 10px 20px;
  padding: 5px 25px;
  border-radius: 30px;
}

.pasien-catatan strong {
  font-size: 14px;
  font-weight: bold;
  color: #1F4DD9;
}

.pasien-catatan span {
  font-size: 12px;
  font-weight: normal;
  color: #464646;
}

.pasien-loading {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #1F4DD9;
  padding: 40px;
}

.pasien-error {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #d91f1f;
  padding: 40px;
}

.btn-rekam-medis {
  background-color: #5A81FA;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 7px;
  transition: background-color 0.5s ease;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.btn-rekam-medis:hover {
  background-color: #CEDEFF;
  color: #5A81FA;
}

.pasien-button {
  padding: 0px 50px;
}

.patientlist-avatar {
    max-width: 150px;
    max-height: 200px;
    background: #5A81FA;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.patientlist-avatar-initial {
    width: 150px;
    height: 150px;
    background: #5A81FA;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 75px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Hapus CSS modal lama */
.modal {
  display: none !important;
}

.modal-content {
  display: none !important;
}

.modal-header {
  display: none !important;
}

.modal-close {
  display: none !important;
}

.modal-body {
  display: none !important;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}