.medicalrecord-action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.medicalrecord-btn-print {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    gap: 10px;
    border: none;
    background-color: green;
    color: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.medicalrecord-page {
    display: flex;
}

.medicalrecord-sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #587EF4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.medicalrecord-sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 10px;
    gap: 10px;
}

.medicalrecord-sidebar-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEDEFF50;
    color: #000000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    transition: background-color 0.5s ease;
}

.medicalrecord-sidebar-back:hover {
    background-color: #FFFFFF;
}

.medicalrecord-sidebar-back i {
    pointer-events: none;
}

.medicalrecord-sidebar-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
}

.medicalrecord-sidebar-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
}

.medicalrecord-sidebar-item {
    background-color: #CEDEFF;
    border-radius: 20px;
    margin: 5px 20px;
    border: none;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    transition: background-color 0.5s ease;
}

.medicalrecord-sidebar-item:hover {
    background-color: #FFFFFF;
}

.medicalrecord-sidebar-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ri-arrow-right-s-line {
    font-size: 30px;
    color: #1647E0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.medicalrecord-sidebar-item-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #5A81FA;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.medicalrecord-sidebar-item-subtitle {
    font-size: 13px;
    color: #464646;
    font-weight: normal;
    margin-bottom: 0;
    text-align: left;
}

.medicalrecord-content {
    width: 75%;
}

.medicalrecord-document {
    background-color: #FFFFFF;
    margin: 30px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px 40px;
}

.medicalrecord-header-number {
    font-size: 12px;
    font-weight: normal;
}

.medicalrecord-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.medicalrecord-row {
    display: flex;
}

.medicalrecord-patient-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.medicalrecord-info-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.medicalrecord-info-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.medicalrecord-info-item {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: start;
    margin-bottom: 10px;
}

.medicalrecord-info-item strong {
    font-size: 13px;
    color: #464646;
    font-weight: bold;
    width: 150px;
}

.medicalrecord-info-item span {
    font-size: 13px;
    color: #464646;
    font-weight: normal;
}

.medicalrecord-keluhan-wrapper {
    display: grid;
    grid-template-columns: 160px 10px 1fr;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.medicalrecord-keluhan-wrapper .colon {
    font-size: 13px;
    font-weight: normal;
    color: #464646;
}

.medicalrecord-keluhan-wrapper strong {
    font-size: 13px;
    font-weight: bold;
    color: #464646;
}

.medicalrecord-keluhan-wrapper span {
    font-size: 13px;
    color: #464646;
    font-weight: normal;
}

#rf-keluhan {
    display: block;
    border-radius: 6px;
    white-space: pre-wrap;
    word-break: break-word;
}

.section-divider {
    border: 0;
    border-top: 1px solid #aaa;
    width: 100%;; 
    margin: 20px auto;
}

.medicalrecord-section-title {
    font-size: 21px;
    color: #5A81FA;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.medicalrecord-input-unit {
    display: flex;
    align-items: center;
    width: 150px;
}

.medicalrecord-physical-input p {
    font-size: 14px;
    color: #464646;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    margin-bottom: 10px;
}

.medicalrecord-physical-input {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 16px;
    color: #464646;
    font-weight: normal;
    width: 100%;
}

.medicalrecord-physical-input label{
    font-size: 13px;
    font-weight: 500;
    color: #464646;
    margin-bottom: 10px;
}

.medicalrecord-physical-input span{
    font-size: 13px;
    font-weight: normal;
    color: #464646;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
}

.medicalrecord-physical-grid {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.medicalrecord-diagnosis-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 25px 0px;
}

.medicalrecord-plan-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 25px 0px;
}

.medicalrecord-notes-section {
    margin: 25px 0px;
}

@media print {
    .medicalrecord-wrapper {
        visibility: hidden;
    }

    .medicalrecord-content, 
    .medicalrecord-content * {
        visibility: visible;
    }

    .medicalrecord-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}