#sidebar-doctor {
    margin: 30px;
}

.sidebar-menu {
    background: #5A81FA;
    width: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 0px;
    list-style: none;
}

.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px 0px;
}

.btn-logout {
    background-color: #ffffff00;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #cedeff50;
    border: none;
}

.sidebar-link.active {
    background-color: #CEDEFF50;
    border-radius: 5px;
    padding: 10px;
}