* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #E4EDFF;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

.layout {
    margin-left: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

.content {
    margin: 30px;
    margin-right: 30px;
    margin-left: 50px;
}

/* Dashboard Dokter */
.dashboard-doctor {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}